# Editor settings
.vscode/
.idea/
.DS_Store
thumbs.db
*.log
node_modules/
example/js_out
lib/
lib-cjs/
lib-esm/
.nyc_output/
coverage/
packages/promaster-portable/example/js_out
packages/promaster-portable/test/test_out
